services:
  db:
    image: mysql:latest
    container_name: acit4850-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: traindb
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: