openapi: 3.0.3
info:
  description: This API receives active North America train and train station data
  version: "1.0.0"
  title: NA train Information
  contact:
    email: tchau29@my.bcit.ca
paths:
  /na_train/passenger_count:
    get:
      summary: Get new passenger_count_readings events
      operationId: app.get_passenger_count_readings
      description: Gets passenger_count_readings
      parameters:
        - name: start_timestamp
          in: query
          description: Start of the timespan
          schema:
            type: string
            format: date-time
            example: 2016-08-29T09:12:33.001Z
        - name: end_timestamp
          in: query
          description: End of the timespan
          schema:
            type: string
            format: date-time
            example: 2016-08-29T09:12:33.001Z         
      responses:
        '200':
          description: Successfully returned a list of passenger readings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PassengerCountEvent'

  /na_train/incoming_train:
    get:
      summary: Get new wait_time events
      operationId: app.get_wait_time_reading
      description: Gets wait_time readings
      parameters:
        - name: start_timestamp
          in: query
          description: Start of the timespan
          schema:
            type: string
            format: date-time
            example: 2016-08-29T09:12:33.001Z
        - name: end_timestamp
          in: query
          description: End of the timespan
          schema:
            type: string
            format: date-time
            example: 2016-08-29T09:12:33.001Z         
      responses:
        '200':
          description: Successfully returned a list of wait_time readings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaitTimeEvent'
        

components:
  schemas:
    PassengerCountEvent:
      type: object
      properties:
        id:
          type: integer
          example: 1
        trace_id:
          type: integer
          format: int64
          example: 1632934353001234567
        station_id:
          type: string
          format: uuid
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        station_name:
          type: string
          example: "Yellowknife North"
        transit_system:
          type: string
          example: "Metro Vancouver"
        average:
          type: number
          example: 42
        num_values:
          type: integer
          example: 1
        batch_timestamp:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
        date_created:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"

    WaitTimeEvent:
      type: object
      properties:
        id:
          type: integer
          example: 1
        trace_id:
          type: integer
          format: int64
          example: 1632934353001234567
        station_id:
          type: string
          format: uuid
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        station_name:
          type: string
          example: "Yellowknife North"
        transit_system:
          type: string
          example: "Metro Vancouver"
        average:
          type: number
          example: 5
        num_values:
          type: integer
          example: 1
        batch_timestamp:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
        date_created:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
    PassengerReading:
      required:
        - trace_id
        - station_id
        - station_name
        - transit_system
        - passenger_count
        - batch_timestamp
        - recorded_timestamp
      properties:
        trace_id:
          type: integer
          format: int64
          example: 1632934353001234567
        station_id:
          type: string
          format: uuid
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        station_name:
          type: string
          example: "Yellowknife North"
        transit_system:
          type: string
          example: "Metro Vancouver"
        passenger_count:
          type: number
          example: 42
        batch_timestamp:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
        recorded_timestamp:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
      type: object

    IncomingTrainReading:
      required:
        - trace_id
        - station_id
        - station_name
        - transit_system
        - current_minutes_wait
        - active_alerts
        - batch_timestamp
        - recorded_timestamp
      properties:
        trace_id:
          type: integer
          format: int64
          example: 1632934353001234567
        station_id:
          type: string
          format: uuid
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        station_name:
          type: string
          example: "Yellowknife North"
        transit_system:
          type: string
          example: "Metro Vancouver"
        current_minutes_wait:
          type: number
          example: 5
        active_alerts:
          type: string
          description: Alerts for the train arriving at the station
          enum:
            - none
            - maintenance_needed
            - full
            - alarm_active
            - other
          example: "none"
        batch_timestamp:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
        recorded_timestamp:
          type: string
          format: date-time
          example: "2016-08-29T09:12:33.001Z"
      type: object