version: 1
formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout
  file:
    class: logging.FileHandler
    level: INFO
    formatter: simple
    filename: /logs/service.log
loggers:
  basicLogger:
    level: INFO
    handlers: [console, file]
    propagate: no
  httpx:
    level: WARNING
    handlers: [console]
    propagate: no
  httpcore:
    level: WARNING
    handlers: [console]
    propagate: no
  connexion:
    level: WARNING
    handlers: [console]
    propagate: no
root:
  level: WARNING
  handlers: [console]
disable_existing_loggers: false
